/* style.css */
body {
    font-family: Fira Sans,Helvetica,sans-serif;
    background-color: #f5e8d6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: #5a3e26;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d68532;
    padding: 10px;
    color:bisque;
}

.appname {
    font-size: 1.5em;
    color:cornsilk;
    text-shadow: 
        -1px -1px 0 #5a3e26,
         1px -1px 0 #5a3e26,
        -1px  1px 0 #5a3e26,
         1px  1px 0 #5a3e26;
}

header .logo img {
    width: 48px;
    height: 48px;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: .25rem;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity));
}

.shop {
    flex: 1;
    padding: 10px;
    background-color: #f5e8d6;
    max-width: 1600px;
    margin: auto;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input-section h3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    margin-top: 5px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-group label {
    flex: 1;
    margin:auto;
}

.input-group img {
    scale: 50%;
    align-items: flex-end;
}


.slider-container {
    position: relative;
    flex: 1;
    align-self: auto;
}

input[type="range"] {
    width: 90%;
    background: #e0b072;
    height: 10px;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    background: transparent;
}

input[type="range"] {
    width: 90%;
    background: #e0b072;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 21px;
    height: 21px;
    background: rgb(166, 80, 36);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 21px;
    height: 21px;
    background: rgb(166, 80, 36);
    border-radius: 50%;
    cursor: pointer;
}

.slider-label {
    position: absolute;
    top: -28px;
    background: rgb(92,67,38);
    padding: 2px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transform: translateX(-30%);
    align-items: center;
}

input[type="number"] {
    width: 70px;  
    padding: 5px;  
    margin-top: 5px;
    border: 2px solid #d68532;
    border-radius: 5px;
    background-color: #fff;
    color: #5a3e26;
    font-size: 0.9em; 
    box-sizing: border-box;
    text-align: center;  
    margin-right: 5px;
}

input[type="number"]::placeholder {
    color: #5a3e26;
}

input[type="number"]:focus {
    border-color: #b45f06;  
    outline: none;  
}

.result-section {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.result-section h3 {
    font-size: 1em;
    margin-bottom: 5px;
    color: #5a3e26;
}

.result-section table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
    color: #5a3e26;
}

.result-section th, .result-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.result-section th {
    background-color: #f5e8d6;
}

.result-section .highlight {
    background-color:peachpuff;
    color: #5a3e26;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d68532;
    padding: 10px 0;
    flex-wrap: wrap;
    font-family: Fira Sans,Helvetica,sans-serif;
    font-size: medium;
}

.nav-button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

/* .nav-button.active {
    background-color: #f7c96c;
    color: #5a3e26;
    border-radius: 5px;
} */

.nav-button img {
    width: 30px;
    height: 30px;
}

.separator {
    width: 1px;
    height: 30px;
    background-color: white;
    margin: 0 10px;
}

@media (max-width: 900px) {
    header .currency .amount {
        font-size: 1em;
    }
    header .currency .small-amount {
        font-size: 0.6em;
    }
    .result-section th, .result-section td {
        padding: 5px;
        font-size: 0.8em;
    }
    .nav-button {
        padding: 5px;
        font-size: 0.8em;
    }
    .nav-button img {
        width: 20px;
        height: 20px;
    }
    .separator {
        display: none;
    }
    .shop {
        width: 90%;
    }
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-left: 10px;
}

.input-group .slider-container {
    flex: 1.5;
}


.input-group span {
    flex: 1;
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain;
}
.max-w-4 {
    max-width: 4rem;
}
.w-full {
    width: 50%;
}
.h-full {
    height: 10%;
}

.w-auto {
    width: auto;
}
.h-6 {
    height: 2.5rem;
    display: flex;
}

.e-label {
    font-size:smaller;
    margin: auto;
    vertical-align: middle;
}

.e-percent {
    padding: 0;
    margin: 0;
}

#copy-text {
    color: #5a3e26;
}

#copy-text:hover {
    color:#ddd;
    cursor: pointer;
}

.text-xxs {
    font-size: 8px;
    line-height: 10px;
}
.text-nowrap {
    text-wrap: nowrap;
}
